body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}

.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.container .card {
    position: relative;
}
.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face .face1{
position: relative;
background-color: #333;
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
}
.container .card .face .face2 {
position: relative;
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
box-sizing: border-box;
box-shadow: 0 20px 50px rgb(0,0,0,0.8);
}